src/.vs/*
obj
bin
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/*
Test - 01/TabletTalk/obj/*
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-windows10.0.19041.0/win-x64/BluetoothApp.AssemblyInfo.cs
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-maccatalyst/maccatalyst-x64/BluetoothApp.AssemblyInfoInputs.cache
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-windows10.0.19041.0/win-x64/BluetoothApp.AssemblyInfo.cs
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-windows10.0.19041.0/win-x64/BluetoothApp.AssemblyInfoInputs.cache
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/BluetoothApp.AssemblyInfo.cs
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/BluetoothApp.AssemblyInfoInputs.cache
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-ios/iossimulator-x64/BluetoothApp.AssemblyInfo.cs
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-ios/iossimulator-x64/BluetoothApp.AssemblyInfoInputs.cache
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-maccatalyst/maccatalyst-x64/BluetoothApp.AssemblyInfo.cs
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-maccatalyst/maccatalyst-x64/BluetoothApp.AssemblyInfoInputs.cache
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-windows10.0.19041.0/win-x64/BluetoothApp.AssemblyInfo.cs
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-windows10.0.19041.0/win-x64/BluetoothApp.AssemblyInfoInputs.cache
Test - 01/TabletTalk/obj/Debug/net10.0-android/TabletTalk.AssemblyInfo.cs
Test - 01/TabletTalk/obj/Debug/net10.0-android/TabletTalk.AssemblyInfoInputs.cache
Test - 01/TabletTalk/obj/Debug/net10.0-ios/iossimulator-x64/TabletTalk.AssemblyInfoInputs.cache
Test - 01/TabletTalk/obj/Debug/net10.0-ios/iossimulator-x64/TabletTalk.AssemblyInfo.cs
Test - 01/TabletTalk/obj/Debug/net10.0-maccatalyst/maccatalyst-x64/TabletTalk.AssemblyInfo.cs
Test - 01/TabletTalk/obj/Debug/net10.0-maccatalyst/maccatalyst-x64/TabletTalk.AssemblyInfoInputs.cache
Test - 01/TabletTalk/obj/Debug/net10.0-windows10.0.19041.0/win-x64/TabletTalk.AssemblyInfo.cs
Test - 01/TabletTalk/obj/Debug/net10.0-windows10.0.19041.0/win-x64/TabletTalk.AssemblyInfoInputs.cache
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/BluetoothApp.AssemblyInfo.cs
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/BluetoothApp.csproj.nuget.dgspec.json
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/BluetoothApp.csproj.nuget.g.props
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/BluetoothApp.csproj.nuget.g.targets
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/project.assets.json
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/project.nuget.cache
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/_AndroidResolvedResources.hash
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/BluetoothApp.AssemblyInfo.cs
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/BluetoothApp.AssemblyInfoInputs.cache
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/BluetoothApp.assets.cache
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/BluetoothApp.GeneratedMSBuildEditorConfig.editorconfig
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/BluetoothApp.GlobalUsings.g.cs
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/mauifont.inputs
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/mauifont.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/mauiimage.inputs
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/mauiimage.outputs
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/mauiimage.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/mauisplash.inputs
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/mauisplash.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/res.flag
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/designtime/__Microsoft.Android.Resource.Designer.cs
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/designtime/_Microsoft.Android.Resource.Designer.dll
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/designtime/build.props
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/designtime/case_map.txt
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/designtime/libraryimports.cache
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/designtime/libraryprojectimports.cache
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/designtime/R.txt
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/designtime/stamp/_BuildLibraryImportsCache.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/designtime/stamp/_ResolveLibraryProjectImports.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/98.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/99.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/100.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/101.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/102.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/103.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/104.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/105.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/106.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/107.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/108.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/109.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/110.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/111.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/112.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/113.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/114.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/115.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/116.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/117.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/118.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/119.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/120.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/121.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/122.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/123.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/124.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/125.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/126.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/127.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/128.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/129.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/130.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/131.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/132.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/133.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/134.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/135.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/136.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/137.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/138.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/139.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/140.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/141.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/142.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/143.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/144.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/145.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/146.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/147.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/148.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/149.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/150.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/151.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/152.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/153.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/154.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/155.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/156.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/157.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/158.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/159.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/160.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/161.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/162.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/163.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/164.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/165.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/166.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/167.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/168.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/169.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/170.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/171.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/172.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/173.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/174.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/175.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/176.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/177.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/178.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/179.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/180.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/181.stamp
BluetoothAppSolution/BluetoothApp/BluetoothApp/obj/Debug/net10.0-android/lp/map.cache
